body { 
    font-family: Arial;
    background-color: black;
    color: white;
    height: 100%;
}

header {
    font-weight: bold;
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

footer {
    background-color: black;
    width: 100%;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    left: 0px;

    border-color: white;
    border-top-style: solid;
    border-width: 1px;
}

footer table{
    margin-left: auto;
    margin-right: auto;
}
