.highButtonClass .ui-btn-active {
    background: #FF3333;/*red*/
}

.mediumButtonClass .ui-btn-active {
    background: #FFCC00;/*yellow*/
    color: black;
}

.lowButtonClass .ui-btn-active {
    background: #66CC00; /*green*/
    color: black;
}

.tableMargin td{
    padding-right: 30px;
}

#textShow {
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 2px #777;
}
